In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('vehicle_stops.csv')

C:\Users\Biruk\AppData\Local\Temp\ipykernel_3336\2628692749.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('vehicle_stops.csv')

In [4]:
df.head(5)

,stop_id,stop_cause,service_area,subject_race,subject_sex,subject_age,date_time,sd_resident,arrested,searched,obtained_consent,contraband_found,property_seized,action,search_type,search_basis
0,69583,Equipment Violation,110,H,M,50,17/10/2017 5:14,Y,True,N,NaN,NaN,NaN,Verbal Warning,NaN,NaN
1,69584,Moving Violation,430,H,M,33,17/10/2017 5:15,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
2,69598,Moving Violation,430,H,M,33,17/10/2017 5:17,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
3,70341,Equipment Violation,110,A,M,25,17/10/2017 7:21,Y,True,N,NaN,NaN,NaN,Field Interview,NaN,NaN
4,70365,Radio Call,620,O,U,18,17/10/2017 7:21,N,True,N,NaN,NaN,NaN,test,NaN,NaN

In [4]:
df.tail()

,stop_id,stop_cause,service_area,subject_race,subject_sex,subject_age,date_time,sd_resident,arrested,searched,obtained_consent,contraband_found,property_seized,action,search_type,search_basis
34328,5011798,Moving Violation,710,B,F,66,26/06/2018 12:45,N,False,N,NaN,NaN,NaN,Verbal Warning,NaN,NaN
34329,5011817,Moving Violation,930,W,F,72,26/06/2018 12:46,N,False,N,NaN,NaN,NaN,Citation,NaN,NaN
34330,5012236,Moving Violation,930,H,M,42,26/06/2018 13:10,N,False,N,NaN,NaN,NaN,Citation,NaN,NaN
34331,5016885,Equipment Violation,820,A,M,19,26/06/2018 17:43,Y,False,N,NaN,NaN,NaN,"Verbal Warning, Driver not registered owner. n...",NaN,NaN
34332,5017953,Equipment Violation,110,W,F,34,26/06/2018 19:01,Y,False,N,NaN,NaN,NaN,Citation,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34333 entries, 0 to 34332
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   stop_id           34333 non-null  int64
 1   stop_cause        34326 non-null  object
 2   service_area      34333 non-null  object
 3   subject_race      34326 non-null  object
 4   subject_sex       34326 non-null  object
 5   subject_age       34333 non-null  int64
 6   date_time         34333 non-null  object
 7   sd_resident       34326 non-null  object
 8   arrested          34329 non-null  object
 9   searched          34326 non-null  object
 10  obtained_consent  3577 non-null   object
 11  contraband_found  3574 non-null   object
 12  property_seized   3575 non-null   object
 13  action            34316 non-null  object
 14  search_type       3165 non-null   object
 15  search_basis      3059 non-null   object
dtypes: int64(2), object(14)
memory usage: 4.2+ MB

In [6]:
df.describe()

            stop_id   subject_age
count  3.433300e+04  34333.000000
mean   2.429007e+06     36.386101
std    1.420836e+06     14.298176
min    6.958300e+04      0.000000
25%    1.169190e+06     25.000000
50%    2.369251e+06     33.000000
75%    3.614863e+06     46.000000
max    5.017953e+06    150.000000

In [7]:
# show you the shape of the dataset.
df.shape

(34333, 16)

In [8]:
#look at the data type of the columns in the dataset.
df.dtypes

stop_id              int64
stop_cause          object
service_area        object
subject_race        object
subject_sex         object
subject_age          int64
date_time           object
sd_resident         object
arrested            object
searched            object
obtained_consent    object
contraband_found    object
property_seized     object
action              object
search_type         object
search_basis        object
dtype: object

In [9]:
#otal number of missing data in each column.
df.isnull().sum()

stop_id                 0
stop_cause              7
service_area            0
subject_race            7
subject_sex             7
subject_age             0
date_time               0
sd_resident             7
arrested                4
searched                7
obtained_consent    30756
contraband_found    30759
property_seized     30758
action                 17
search_type         31168
search_basis        31274
dtype: int64

In [10]:
#selected columns
df.date_time

0         17/10/2017 5:14
1         17/10/2017 5:15
2         17/10/2017 5:17
3         17/10/2017 7:21
4         17/10/2017 7:21
               ...
34328    26/06/2018 12:45
34329    26/06/2018 12:46
34330    26/06/2018 13:10
34331    26/06/2018 17:43
34332    26/06/2018 19:01
Name: date_time, Length: 34333, dtype: object

In [11]:
df.date_time.head(5)

0    17/10/2017 5:14
1    17/10/2017 5:15
2    17/10/2017 5:17
3    17/10/2017 7:21
4    17/10/2017 7:21
Name: date_time, dtype: object

In [12]:
#see the availabel columns
df.columns

Index(['stop_id', 'stop_cause', 'service_area', 'subject_race', 'subject_sex',
       'subject_age', 'date_time', 'sd_resident', 'arrested', 'searched',
       'obtained_consent', 'contraband_found', 'property_seized', 'action',
       'search_type', 'search_basis'],
      dtype='object')

In [13]:
#You can select a single column in the dataset
df['date_time']

0         17/10/2017 5:14
1         17/10/2017 5:15
2         17/10/2017 5:17
3         17/10/2017 7:21
4         17/10/2017 7:21
               ...
34328    26/06/2018 12:45
34329    26/06/2018 12:46
34330    26/06/2018 13:10
34331    26/06/2018 17:43
34332    26/06/2018 19:01
Name: date_time, Length: 34333, dtype: object

In [14]:
#You can select multiple column in the dataset
df[['stop_id','date_time']].head()

   stop_id        date_time
0    69583  17/10/2017 5:14
1    69584  17/10/2017 5:15
2    69598  17/10/2017 5:17
3    70341  17/10/2017 7:21
4    70365  17/10/2017 7:21

In [15]:
#Rename a column
df.rename(columns={'stop_id':'ID',
                        'DateTume':'DateTime'},inplace=True )

In [16]:
df.head(5)

,ID,stop_cause,service_area,subject_race,subject_sex,subject_age,date_time,sd_resident,arrested,searched,obtained_consent,contraband_found,property_seized,action,search_type,search_basis
0,69583,Equipment Violation,110,H,M,50,17/10/2017 5:14,Y,True,N,NaN,NaN,NaN,Verbal Warning,NaN,NaN
1,69584,Moving Violation,430,H,M,33,17/10/2017 5:15,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
2,69598,Moving Violation,430,H,M,33,17/10/2017 5:17,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
3,70341,Equipment Violation,110,A,M,25,17/10/2017 7:21,Y,True,N,NaN,NaN,NaN,Field Interview,NaN,NaN
4,70365,Radio Call,620,O,U,18,17/10/2017 7:21,N,True,N,NaN,NaN,NaN,test,NaN,NaN

In [17]:
#Select the rows
df.iloc[0]

ID                                69583
stop_cause          Equipment Violation
service_area                        110
subject_race                          H
subject_sex                           M
subject_age                          50
date_time               17/10/2017 5:14
sd_resident                           Y
arrested                           True
searched                              N
obtained_consent                    NaN
contraband_found                    NaN
property_seized                     NaN
action                   Verbal Warning
search_type                         NaN
search_basis                        NaN
Name: 0, dtype: object

In [18]:
#You can select more than one column.
df.iloc[0,[1,3,5]]

stop_cause      Equipment Violation
subject_race                      H
subject_age                      50
Name: 0, dtype: object

In [19]:
#You can slice the rows.
df.iloc[0:5,[1,4,5]]

            stop_cause subject_sex  subject_age
0  Equipment Violation           M           50
1     Moving Violation           M           33
2     Moving Violation           M           33
3  Equipment Violation           M           25
4           Radio Call           U           18

In [20]:
#You can slice both rows and columns.
df.iloc[0:5,0:5]

      ID           stop_cause service_area subject_race subject_sex
0  69583  Equipment Violation          110            H           M
1  69584     Moving Violation          430            H           M
2  69598     Moving Violation          430            H           M
3  70341  Equipment Violation          110            A           M
4  70365           Radio Call          620            O           U

In [21]:
#Simple Analysis with Pandas
df.stop_cause.value_counts()

stop_cause
Moving Violation       19863
Equipment Violation    12935
Code Violation           916
Radio Call               335
Suspect Info             254
PK/Informant              23
Name: count, dtype: int64

In [22]:
df[df.stop_cause=='Moving Violation']

,ID,stop_cause,service_area,subject_race,subject_sex,subject_age,date_time,sd_resident,arrested,searched,obtained_consent,contraband_found,property_seized,action,search_type,search_basis
1,69584,Moving Violation,430,H,M,33,17/10/2017 5:15,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
2,69598,Moving Violation,430,H,M,33,17/10/2017 5:17,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
6,70718,Moving Violation,620,A,F,55,17/10/2017 7:59,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
8,71029,Moving Violation,930,A,M,34,17/10/2017 8:25,Y,True,N,NaN,NaN,NaN,Verbal Warning,NaN,NaN
10,71134,Moving Violation,930,A,M,34,17/10/2017 8:31,Y,True,N,NaN,NaN,NaN,Verbal Warning,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34326,5009957,Moving Violation,310,C,M,67,26/06/2018 11:13,N,False,N,NaN,NaN,NaN,Citation,NaN,NaN
34327,5010486,Moving Violation,310,V,M,44,26/06/2018 11:43,Y,False,N,NaN,NaN,NaN,Citation,NaN,NaN
34328,5011798,Moving Violation,710,B,F,66,26/06/2018 12:45,N,False,N,NaN,NaN,NaN,Verbal Warning,NaN,NaN
34329,5011817,Moving Violation,930,W,F,72,26/06/2018 12:46,N,False,N,NaN,NaN,NaN,Citation,NaN,NaN
34330,5012236,Moving Violation,930,H,M,42,26/06/2018 13:10,N,False,N,NaN,NaN,NaN,Citation,NaN,NaN

In [23]:
#How  many male and females are stoped due to Moving Violation
df[df.stop_cause=='Moving Violation'].subject_sex.value_counts()

subject_sex
M    13425
F     6425
U       13
Name: count, dtype: int64

In [24]:
#Filter the dataaet based on  poeples stopped whose ages are greater than 40 
df[df.subject_age>40].head()

,ID,stop_cause,service_area,subject_race,subject_sex,subject_age,date_time,sd_resident,arrested,searched,obtained_consent,contraband_found,property_seized,action,search_type,search_basis
0,69583,Equipment Violation,110,H,M,50,17/10/2017 5:14,Y,True,N,NaN,NaN,NaN,Verbal Warning,NaN,NaN
6,70718,Moving Violation,620,A,F,55,17/10/2017 7:59,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN
11,71253,Moving Violation,720,H,F,57,17/10/2017 8:39,N,True,N,NaN,NaN,NaN,Citation,NaN,NaN
16,71531,Code Violation,610,O,M,52,17/10/2017 9:04,N,True,N,NaN,NaN,NaN,Citation,NaN,NaN
17,71594,Moving Violation,110,W,M,60,17/10/2017 9:07,Y,True,N,NaN,NaN,NaN,Citation,NaN,NaN

In [25]:
#Let’s see the reasons for stopping women as a percentage
df[df.subject_sex=='F'].stop_cause.value_counts()

stop_cause
Moving Violation       6425
Equipment Violation    3323
Code Violation          158
Radio Call               53
Suspect Info             29
PK/Informant              2
Name: count, dtype: int64

In [26]:
df.groupby('subject_sex').stop_cause.value_counts()

subject_sex  stop_cause
F            Moving Violation        6425
             Equipment Violation     3323
             Code Violation           158
             Radio Call                53
             Suspect Info              29
             PK/Informant               2
M            Moving Violation       13425
             Equipment Violation     9598
             Code Violation           751
             Radio Call               272
             Suspect Info             221
             PK/Informant              18
U            Equipment Violation       14
             Moving Violation          13
             Radio Call                10
             Code Violation             7
             Suspect Info               4
             PK/Informant               3
Name: count, dtype: int64

In [27]:
#convert this data into a tabular form.
df.groupby('subject_sex').stop_cause.value_counts().unstack()

stop_cause,Code Violation,Equipment Violation,Moving Violation,PK/Informant,Radio Call,Suspect Info
subject_sex,,,,,,
F,158,3323,6425,2,53,29
M,751,9598,13425,18,272,221
U,7,14,13,3,10,4

In [28]:
#let’s see the percentage of the number of arrests.
df.arrested.value_counts()

arrested
False    33098
True      1231
Name: count, dtype: int64

In [29]:
#Let’s see the percentages/number  of arrests by race and gender.


df.groupby(['subject_race','subject_sex']).stop_cause.value_counts().head(40)

subject_race  subject_sex  stop_cause
A             F            Moving Violation        543
                           Equipment Violation     177
                           Code Violation           10
                           Radio Call                2
                           Suspect Info              1
              M            Moving Violation        777
                           Equipment Violation     489
                           Code Violation           25
                           Radio Call                6
                           Suspect Info              5
                           PK/Informant              1
              U            Equipment Violation       5
                           Moving Violation          3
                           Radio Call                1
                           Suspect Info              1
                           PK/Informant              1
B             F            Equipment Violation     626
                           Moving Violation        622
                           Code Violation           31
                           Radio Call               13
                           Suspect Info              5
              M            Equipment Violation    2084
                           Moving Violation       1778
                           Code Violation          168
                           Radio Call               56
                           Suspect Info             52
                           PK/Informant              5
              U            Moving Violation          1
C             F            Moving Violation         67
                           Equipment Violation      19
              M            Moving Violation        126
                           Equipment Violation      24
                           Radio Call                1
                           Code Violation            1
D             F            Equipment Violation       3
                           Moving Violation          3
              M            Moving Violation         13
                           Equipment Violation       5
F             F            Moving Violation        130
                           Equipment Violation      38
Name: count, dtype: int64

In [30]:
#Convert arrested to boolean
df["arrest_made"]=df.arrested.astype(bool)

In [31]:
df.arrest_made.value_counts()

arrest_made
False    33098
True      1235
Name: count, dtype: int64

In [32]:
df.arrest_made.mean()

0.03597122302158273

In [33]:
#convert the date time to the  date time format
df['DatetimeFormat'] = pd.to_datetime(df['DateTime'])

KeyError: 'DateTime'

In [ ]:
%matplotlib inline

In [ ]:
df.groupby(df.DatetimeFormat.dt.hour).arrest_made.mean().plot()

In [ ]:
#see the stop hours
df.DatetimeFormat.dt.hour.value_counts().head()

In [ ]:
#sort and see the time the time when there is high  stopping time
df.DatetimeFormat.dt.hour.value_counts().sort_index().plot()

In [ ]:
admin=pd.read_csv('admin.csv')
school=pd.read_csv('school.csv')

In [ ]:
admin.head()

In [ ]:
school.head()

In [ ]:
#If you want to merge DataFrames, use the pd.merge() method
#Merge the two dataset based on  some condition eg. school
merged=pd.merge(admin, school, on='School', how='inner')

In [ ]:
merged.head()

In [ ]:

#If you want to merge DataFrames, use the pd.concat() method
#Merge the two dataset based on  some condition eg. school
cancatenateddata=pd.concat((admin, school), axis=1)

In [ ]:
cancatenateddata.head()

In [ ]:
#add new column  called salary to the admin 
admin['university']='AAU'

In [ ]:
admin

In [ ]:
newadmin=admin

In [ ]:
#drop column
# use drop
newadmin.drop(columns=['Inistitute'])

In [ ]:
#Or use the following
newadmin.drop('university',axis=1)

In [ ]:
#Display unique value of specific column
school.Inistitute.unique()

In [ ]:
#Or you can use the following to count the see the  values 
school['Inistitute'].unique()

In [ ]:
#fill Na
school.head()

In [ ]:
#fill the NaN of a particular column with some value
school.Inistitute.fillna("law school",inplace=True)

In [ ]:
school.head()

In [ ]:
#You can save Pandas dataframes as CSV files to using the method to_csv().
school.to_csv('cleaneddata.csv')

In [ ]:
df.columns

In [ ]:
df[['stop_id','stop_cause','service_area','subject_race','subject_sex']]

In [ ]:
df.iloc[0]

In [ ]:
df.groupby('subject_sex').stop_cause.value_counts().unstack()